---
import Layout from '$lib/layouts/layout.astro';
import Replacer from '$lib/components/replacer/container.svelte';
---

<Layout title="Home">
  <main class="flex-1">
    <Replacer client:load />
  </main>
</Layout>
